@model IEnumerable<Anyone4Tennis.Models.Schedules>

@{
    ViewData["Title"] = "Schedule List";
}

@if (User.IsInRole("Member") || User.IsInRole("Coach"))
{
    <h1>Your Schedule List</h1>
}
@if (User.IsInRole("Admin"))
{
    <h1>Schedule List</h1>
}

<!-- Search Form -->
<form asp-action="ScheduleList" method="get" class="form-inline">
    <div class="form-group mb-2">
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search schedules..." />
    </div>
    <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Title)</th>
            <th>@Html.DisplayNameFor(model => model.First().Location)</th>
            <th>@Html.DisplayNameFor(model => model.First().StartTime)</th>
            <th>@Html.DisplayNameFor(model => model.First().EndTime)</th>
            <th>Coach</th>
            @if (User.IsInRole("Coach") || User.IsInRole("Member"))
            {
                <th>Action</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Title)</td>
                <td>@Html.DisplayFor(m => item.Location)</td>
                <td>@item.StartTime.ToString("g")</td>
                <td>@item.EndTime.ToString("g")</td>
                <td>@item.Coach.FirstName @item.Coach.LastName</td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.SchedulesID" class="btn btn-primary">View Details</a>
                </td>

                @if (User.IsInRole("Member"))
                {
                    <td>
                        <form asp-action="Enroll" asp-controller="Schedules" method="post" onsubmit="return confirmEnroll()">
                            <input type="hidden" name="scheduleId" value="@item.SchedulesID" />
                            <button type="submit" class="btn btn-primary">Enroll</button>
                        </form>
                    </td>
                }

                @if (User.IsInRole("Coach"))
                {
                    <td>
                        <form asp-action="Members" asp-controller="Schedules" method="post">
                            <input type="hidden" name="id" value="@item.SchedulesID" />
                            <button type="submit" class="btn btn-primary">View Enrolled Members</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function confirmEnroll() {
            return confirm("Are you sure you want to enroll in this schedule?");
        }
    </script>
}
